// !vars
$main-color: #323264;
$alt-color: #46466e;
$soft-color: #686887;
$accent-color: #f0145a;
// $accent-color: #A5032D;
$regular-color: #24a3ff;
$hover-coolor: #0085ff;
$active-color: #006ccf;
$bg-color: #f5f5fa;
$bg-alt-color: #ededf7;
$text-color: #b3b3ba;
$basic-white: #ffffff;
$separator-color: #e6e6f0;
$gradient: linear-gradient(130deg, #323264, #323264 70%, #a54b5f);
$gradient-soft: linear-gradient(42deg,  #323264 15%,  #323264 50%,  #7a425e 88%);
$gradient-red: linear-gradient(325deg, #f0145a 5%, #693264 70%);
$gradient-supersoft: linear-gradient(230deg, #323264 10%, #323264 60%, #643e72 90%);
$gradient-red-text: linear-gradient(90deg, #f0145a, #ef8080);

$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 24px;
$radius-rounded: 50%;

// !breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;

// !MIXINS

@mixin viewport-md {
	@media (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin viewport-lg {
	@media (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin viewport-xl {
	@media (min-width: $breakpoint-xl) {
		@content;
	}
}

@mixin viewport-xxl {
	@media (min-width: $breakpoint-xxl) {
		@content;
	}
}

@mixin main-gradient-text($bg-text: $gradient-red-text) {
	background: $bg-text;
	color: transparent;
	background-clip: text;
}

@mixin subtitle($color: $text-color) {
	color: $color;
	font-size: 30px;
	font-weight: 700;

	@include viewport-md {
		font-size: 38px;
	}
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
    align-items: center;
}

@mixin base-link($color: $regular-color, $hover-color: $accent-color) {
	color: $color;
	text-decoration: none;
	transition: .2s;
	font-weight: 700;
	transition: .2s linear;

	&:hover {
		color: $hover-color;
	}

	&:hover::before {
		border-color: $hover-color;
	}
}

@mixin base-link-arrow($color: $regular-color, $hover-color: $accent-color) {
	@include base-link($color, $hover-color);
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
	padding-right: 8px;
	margin: 0 0 5px;

	&::before {
		content: '';
		position: absolute;
		top: 5px;
		right: 0;
		width: 6px;
		height: 6px;
		border-bottom: 2px solid $regular-color;
		border-right: 2px solid $regular-color;
		transform: rotate(-45deg);
		transition: .2s;
	}
}